.searchStringContainer {
    background-color: rgb(189,184,165);
    padding: 5px 5px;
    border-radius: 30px;
    border: rgb(117,129,127) 2px solid;
    color: white;
    margin-left: 920px;
    width: 210px;
    height: 30px;
    display: flex;
}

.searchStringInput {
    outline: none;
    background-color: rgb(189,184,165);
    margin-left: 2px;
    border: none;
    width: 180px;
    color: white;
}
