.temp {
    font-family: Arial, sans-serif;
    font-size: 90px;
    margin-top: 100px;
    margin-left: -250px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 500;
    width: 270px;
    height: 80px;

}

.weather {
    font-family: Arial, sans-serif;
    font-size: 50px;
    margin-left: -1000px;
    margin-top: 105px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 500;
    width: 700px;
    height: 80px;

}

.pressureBlock {
    margin-left: -530px;
    margin-top: 300px;
}

.pressure {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-bottom: 10px;
}

.pressureCaption {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-left: 10px;
}

.humidityBlock {
    margin-top: 300px;
    margin-left: 50px;
}

.humidity {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-bottom: 10px;
}

.humidityCaption {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-left: 10px;
}

.windSpeedBlock {
    margin-top: 300px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windSpeed {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-bottom: 10px;
}

.windSpeedCaption {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-left: 10px;
}

.sunriseBlock {
    margin-top: 470px;
    margin-left: -550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunrise {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-bottom: 10px;
}

.sunriseCaption {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-left: 10px;
}

.sunsetBlock {
    margin-top: 470px;
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunset {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-bottom: 10px;
}

.sunsetCaption {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #FFFF00;
    text-shadow: 2px 2px 5px #8B4513;
    font-weight: 200;
    margin-left: 10px;
}